<h2>Contact</h2>
<div class="list">
    <p>Click on the phone number for calling us!</p>
    <ul *ngFor="let element of people">
        <li>{{element.name}} {{element.surname}} - Phone Number: <a href="">{{element.phone}}</a></li>
    </ul>
</div>
<div class="banner">
    <p>If you need some informations please <a href="">contact us</a></p>
</div>
<div class="center">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod perspiciatis, obcaecati fugit modi nihil, ab ex praesentium et fuga itaque consectetur quasi rem accusamus vero similique. A at ratione magni?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod perspiciatis, obcaecati fugit modi nihil, ab ex praesentium et fuga itaque consectetur quasi rem accusamus vero similique. A at ratione magni?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod perspiciatis, obcaecati fugit modi nihil, ab ex praesentium et fuga itaque consectetur quasi rem accusamus vero similique. A at ratione magni?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod perspiciatis, obcaecati fugit modi nihil, ab ex praesentium et fuga itaque consectetur quasi rem accusamus vero similique. A at ratione magni?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod perspiciatis, obcaecati fugit modi nihil, ab ex praesentium et fuga itaque consectetur quasi rem accusamus vero similique. A at ratione magni?</p>
</div>