<section id="header_top" class="blue font-white">
    <div id="h_left" class="left">
        <img src="https://pngimg.com/uploads/tiger/tiger_PNG23229.png" alt="placeholder logo">
    </div>
    <div id="h_center" class="left">
        <h1 class="b">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <h4>Voluptate cupiditate id adipisci iusto reiciendis libero magnam aliquid incidunt, non, veniam sint et? Numquam?</h4>
    </div>
    <div id="h_right" class="left">
        <a href="#" class="icons font-white"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="#" class="icons font-white"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="#" class="icons font-white"><fa-icon [icon]="faXTwitter"></fa-icon></a>
    </div>
</section>
<section id="header_bottom" class="pink">
    <button mat-button [matMenuTriggerFor]="belowMenu">Label</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Label</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Label</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Label</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>
</section>


