section#header_top, section#header_bottom {
    width: 100%;
}

section#header_top div {
    width: 33.33%;
    text-align: center;
}

section#header_top div#h_left {
    text-align: left;
}

section#header_top div#h_left img {
    width: 25%;
    padding-left: 10%;
}

section#header_top div#h_center h1 {
    font-size: 1.5em;
    margin: .5em 0 1em 0;
}

section#header_top div#h_right {
    margin-top: 1.5em;
    text-align: right;
}

section#header_top div#h_right a fa-icon {
    padding-right: 5%;
}

section#header_top {
  display: table;
  clear: both;
  content: "";
}

section#header_bottom {
    text-align: center;
}

section#header_bottom button {
    padding: 0 5%;
}

section#header_bottom button mat-menu {
    padding: 0 5%;
}