/* General Style */

/* La prima parte del file CSS è una raccolta ordinata di classi riutilizzabili nel sito, esse sono generiche e mi permettono di racchiudere e di veloccizzare le implementazioni associando stili comuni tra i vari elementi del sito */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.pLeft{
    padding: 0 !important;
    padding-left: 5% !important; 
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    overflow: hidden;
}

.cover {
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

b {
    font-weight: bold;
}

.active {
    color: #1919CE;
}

.btn {
    padding: 1em 10%;
    background-color: #FFFFFF;
    border: 2px solid #1919CE;
    border-radius: 50px;
}

div.line {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 2em 0;
}

#mobile {
    display: none;
}

.menuMobile {
    display: none;
}

/* Header style */
/* in questa parte vengono raccolte tutte le informazioni stilistiche per la sezione header, per rendere più efficace l'assegnazione tramite "selettore" scelgo di essere il più specifico possibile partendo sempre dal contenitore più esterno, e andando più in profondità vado a definire i selettori più interni cosi da non avere problemi con le assegnazioni */
header {
    width: 75%;
    padding: 0 12.5%;
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
}

header div.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

header div.navBar div.logo {
    background-image: url(img/pfizer-logo-color.png);
    width: 10%;
    height: 5.5em;
}

header div.navBar div.links {
    width: 78%;
}

header div.navBar div.links ul li {
    display: inline;
    padding: 0 2%;
    font-weight: bold;
    font-size: 1.1em;
}

header div.navBar div.links ul li a:hover {
    color: #1919CE;
    transition: linear .1s;
}

header div.navBar div.links ul li a.active::before {
    content: "";
    position: absolute;
    width: 5.8%;
    height: 2.5px;
    background-color: #1919CE;
    bottom: 28px;
}

/* Main style */
/* In questa sezione viene racchiusa tutta la parte che riguarda la sezione MAIN, in questa sezione viene ripreso il metodo prima citato per la parte HEADER */
section#firstblock {
    width: 100%;
    background-image: url(img/header-sostenibilita-new.png);
    margin-top: 5.5em;
    padding: 5em 0;
}

div.textCenter {
    width: 60%;
    padding: 2em 20%;
    text-align: center;
}

section#firstblock div.textCenter h1 {
    font-size: 4em;
    font-weight: 350;
    color: #383838;
    margin:  0 0 .5em 0;
}

section#firstblock div.textCenter p {
    margin: 0;
    font-size: 1.4em;
    line-height: 1.6em;
}

div#path {
    width: 60%;
    padding: .5em 20%;
}

div#path p i {
    font-size: .8em;
    vertical-align: middle;
    padding: 0 1%;
}

div#path p span {
    color: #0004A3;
}

section#textImg {
    width: 60%;
    padding: .5em 20%;
}
section#textImg div.container div.text,
section#textImg div.container div.img {
    display: inline-block;
}

section#textImg div.container div.text {
    width: 52%;
}

section#textImg div.container div.text p {
    margin: 1em 0;
    line-height: 1.8em;
    font-size: 1.1em;
}

section#textImg div.container div.img {
    width: 45%;
    height: 27em;
    vertical-align: top;
    border-radius: 10px;
    margin-top: 4em;
    margin-left: 2%;
}

section#textImg div.container a {
    margin-top: 2em;
    display: inline-block;
    font-size:1.3em;
    color: #1919CE;
    font-weight: 500;
}

section#textImg div.container a:hover {
    background-color: #1919CE;
    color: #FFFFFF;
    transition: .1s linear;
}

/* Footer style */
/* In questa sezione viene racchiusa tutta la parte che riguarda la sezione FOOTER, anche per qeusta sezione viene fatto lo stesso ragionamento dei primi due */
footer {
    width: 60%;
    padding: 5em 20%;
    border-top: .5px solid grey;
    margin-top: 5em;
}

footer section#top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer section#top div#left {
    width: 12%;
}

footer section#top div#left img {
    width: 100%;
    padding-top: 1em;
}

footer section#top div#right {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1em;
}

footer section#top div#right ul li{
    padding-bottom: .5em;
}

footer section#top div#right ul:first-child{
    font-size: 1.5em;
    font-weight: unset;
}

footer section#top div#right ul li a:hover {
    text-decoration: underline;
}

footer section#center p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2.5%;
}


/* Tablet View */
@media screen and (max-width: 780px){
    #mobile {
        display: flex;
    }

    #desktop {
        display: none;
    }

    .showMenu {
        display: block;
        font-size: 1.5em;
        line-height: 2em;
    }

    header div.navBar div.logo {
        width: 25%;
    }

    header {
        width: 90%;
        padding: 0 5%;
    }

    header div.navBar {
        width: 100%;
        justify-content: space-between;
    }

    div#icons {
        width: 75%;
        text-align: right;
        font-size: 1.5em;
    }

    div#icons i {
        padding-right: 3%;
    }

    header div#mobile div#icons i {
        padding-right: 5%;
        font-size: 1.2em    ;
    }

    div.textCenter,
    div#path,
    section#textImg {
        width: 90%;
        padding: 2em 5%;
    }

    footer {
        width: 90%;
        padding: 5em 5%;
    }

    footer section#top div#left {
        width: 30%;
    }

    footer section#top div#left img {
        margin-bottom: 2em;
    }

    footer section#top {
        flex-direction: column;
        align-items: center;
    }

    footer section#top div#right {
        width: 100%;
        align-items: center;
    }

    footer section#top div#right ul {
        padding-left: 0;
    }
}

@media screen and (max-width: 450px) {
    section#textImg div.container div.img,
    section#textImg div.container div.text {
        width: 100%;
    }

    footer section#top div#right {
        flex-direction: column;
        text-align: center;
    }
}