<div id="firstblock">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia unde rerum ipsa quaerat asperiores cupiditate velit quasi, quas totam. Ipsam in mollitia, perspiciatis nihil quasi illum consectetur autem deleniti quis!</p>
</div>
<div class="secondblock">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquid dolores provident quod! Dolorem assumenda, dolorum mollitia, nam iste, sint deserunt porro aspernatur provident eligendi quod sequi temporibus praesentium laborum?</p>
    <div class="images"></div>
</div>
<div class="secondblock">
    <div class="images"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquid dolores provident quod! Dolorem assumenda, dolorum mollitia, nam iste, sint deserunt porro aspernatur provident eligendi quod sequi temporibus praesentium laborum?</p>
</div>
