div#buttons {
    width: 100;
}

div#buttons button {
    padding: 1em 5%;
    margin: 2em 10%;
}

.myCard {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

section#listCard div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section#listCard .myCard {
    margin: 5em 6%;
}